{% if hot %}
          <h4 class="mb-3" align="center">Hot Auctions</h4>
          <div class="card-columns">
            <a href="#">
              <div class="card card-outline-warning mb-3 text-center">
                <div class="card-block">
                  <img src="static/scroll.gif" alt="">
                    <h6 class="card-subtitle mt-1 mb-3"><small>Scroll for Spear for Accuracy 10%</small></h6>
                  <p class="text-muted card-subtitle"><strong>14,300,000</strong></p>
                  <p class="card-text"><small class="text-muted">15 minutes left, 8 bids</small></p>
                </div>
              </div>
            </a>
            <a href="#">
              <div class="card card-outline-warning mb-3 text-center">
                <div class="card-block">
                  <img src="static/scroll.gif" alt="">
                    <h6 class="card-subtitle mt-1 mb-3"><small>Scroll for Spear for Accuracy 10%</small></h6>
                  <p class="text-muted card-subtitle"><strong>14,300,000</strong></p>
                  <p class="card-text"><small class="text-muted">15 minutes left, 8 bids</small></p>
                </div>
              </div>
            </a>
            <a href="#">
              <div class="card card-outline-warning mb-3 text-center">
                <div class="card-block">
                  <img src="static/scroll.gif" alt="">
                    <h6 class="card-subtitle mt-1 mb-3"><small>Scroll for Spear for Accuracy 10%</small></h6>
                  <p class="text-muted card-subtitle"><strong>14,300,000</strong></p>
                  <p class="card-text"><small class="text-muted">15 minutes left, 8 bids</small></p>
                </div>
              </div>
            </a>
            <a href="#">
              <div class="card card-outline-warning mb-3 text-center">
                <div class="card-block">
                  <img src="static/scroll.gif" alt="">
                    <h6 class="card-subtitle mt-1 mb-3"><small>Scroll for Spear for Accuracy 10%</small></h6>
                  <p class="text-muted card-subtitle"><strong>14,300,000</strong></p>
                  <p class="card-text"><small class="text-muted">15 minutes left, 8 bids</small></p>
                </div>
              </div>
            </a>
            <a href="#">
              <div class="card card-outline-warning mb-3 text-center">
                <div class="card-block">
                  <img src="static/scroll.gif" alt="">
                    <h6 class="card-subtitle mt-1 mb-3"><small>Scroll for Spear for Accuracy 10%</small></h6>
                  <p class="text-muted card-subtitle"><strong>14,300,000</strong></p>
                  <p class="card-text"><small class="text-muted">15 minutes left, 8 bids</small></p>
                </div>
              </div>
            </a>
            <a href="#">
              <div class="card card-outline-warning mb-3 text-center">
                <div class="card-block">
                  <img src="static/scroll.gif" alt="">
                    <h6 class="card-subtitle mt-1 mb-3"><small>Scroll for Spear for Accuracy 10%</small></h6>
                  <p class="text-muted card-subtitle"><strong>14,300,000</strong></p>
                  <p class="card-text"><small class="text-muted">15 minutes left, 8 bids</small></p>
                </div>
              </div>
            </a>
          </div>
          {% endif %}