{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <div class="card mb-3">
      <div class="card-block">
        <div class="media">
          <a class=""><img class="mr-2" src="{{ url_for('static', filename = 'images/meso_large.png') }}" width="32px"
                           alt=""></a>
          <div class="media-body">
            <h5 class="mb-0">{{ u.username }}
            </h5>
            <h6 class="mb-0">
              <small class="">{{ feedback_percentage }}% Positive</small>
            </h6>
            <h6 class="mb-1">
              <small class="">Score: {{ feedback_score }}</small>
            </h6>
          </div>
        </div>
        <div class="mx-1 mt-2">
          {% if feedback %}
          {% for fb in feedback %}
          <div class="row">
            <div class="col-8 text-left">
              <small class="card-text">
                {% if fb.score == 1 %}
                {% set type = 'success' %}
                {% set sign = 'fa-smile-o' %}
                {% elif fb.score == -1 %}
                {% set type = 'danger' %}
                {% set sign = 'fa-frown-o' %}
                {% elif fb.score == 0 %}
                {% set type = 'default' %}
                {% set sign = 'fa-meh-o' %}
                {% endif %}
                <span class="badge badge-{{ type }}"><i class="fa {{ sign }}" aria-hidden="true"></i></span>
                {{ fb.message|trimdesc }}
              </small>
            </div>
            <div class="col-4 text-right">
              <small class="card-text">
                {% set reviewer = fb.reviewer|getname %}
                <a class="card-link" href="/u/{{ reviewer }}">{{ reviewer }}</a>
                <a data-toggle="tooltip" data-placement="bottom" title="View auction"
                   href="/auction/{{ fb.auction_id }}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </small>
            </div>
          </div>
          {% endfor %}
          {{ feedback_page.links }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}